<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style='font-family:"Helvetica", Helvetica, Arial, sans-serif; font-size:16px; padding-top: 40px; background-color: #f6f6f6; color: #666'>
    <div style="width: 90%; max-width: 1000px; margin: 0 auto; border-radius: 5px; overflow: hidden; line-height: 25px; background-color: #fff">
      <div style="padding: 30px; border-left: 1px solid #cacaca; border-right: 1px solid #cacaca">
        <h1>Welcome to example.com, <%= @user.full_name %></h1>
        <p>Thanks for joining and have a great day!</p>
      </div>
    </div>
  </body>
</html>
